<div id="dashboard" ng-controller="">

    <div class="container-fluid">

        <div class="form-group">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></button>
                        </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="cover-card col-sm-4" style="background: #0E6655 url(images/chive.png) no-repeat center;background-size: contain;">
                    <p>
                    </p>
                </div>
                <div class="cover-card col-sm-5" style="background: url(images/areas/london.jpg) center center;background-size:cover;">
                    <p>
                        London
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/newyork.jpg) center center;background-size:cover;">
                    <p>
                        New york
                    </p>
                </div>
                <div class="cover-card col-sm-4" style="background: url(images/areas/sanfrancisco.jpg) center center;background-size:cover;">
                    <p>
                        San Francisco
                    </p>
                </div>
                <div class="cover-card col-sm-5" style="background: url(images/areas/venice.jpg) center center;background-size:cover;">
                    <p>
                        Venice
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/paris.jpg) center center;background-size:cover;">
                    <p>
                        Paris
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/amsterdam.jpg) center center;background-size:cover;">
                    <p>
                        Amsterdam
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/tokyo.jpg) center center;background-size:cover;">
                    <p>
                        Tokyo
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/sweden.jpg) center center;background-size:cover;">
                    <p>
                        Sweden
                    </p>
                </div>

                <div class="cover-card col-sm-3" style="background: url(images/areas/mexico.jpg) center center;background-size:cover;">
                    <p>
                        Mexico
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/berlin.jpg) center center;background-size:cover;">
                    <p>
                        Berlin
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/toronto.jpg) center center;background-size:cover;">
                    <p>
                        Toronto
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/miami.jpg) center center;background-size:cover;">
                    <p>
                        Miami
                    </p>
                </div>
                <div class="cover-card col-sm-3" style="background: url(images/areas/hongkong.jpg) center center;background-size:cover;">
                    <p>
                        Hong kong
                    </p>
                </div>
            </div>
        </div>

    </div>

</div><!-- /.row -->